<a href="https://colab.research.google.com/github/ApurbaKumarNath/BRAC_Summer-23_CSE_Lab/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
sum = []
for i in range(5):
  sum.append(int(input()))
  print(f'"Numbers in the list: {sum}"')

69696969696969
"Numbers in the list: [69696969696969]"
Fucking bitches
69696969
"Numbers in the list: [69696969696969, 69696969]"
Fucking bitches
696969
"Numbers in the list: [69696969696969, 69696969, 696969]"
Fucking bitches
696969
"Numbers in the list: [69696969696969, 69696969, 696969, 696969]"
Fucking bitches
69696969
"Numbers in the list: [69696969696969, 69696969, 696969, 696969, 69696969]"
Fucking bitches

Task 2

In [ ]:
string = input()
sum = []
string = string.split(', ')

if len(string) < 4:
  print('Not possible')

else:
  string = string[2 : len(string)-2]

  for i in string:
    i = int(i)
    sum.append(i)

  print(sum)

11, 12, 13
Not possible

Task 3

In [ ]:
num = []
for i in range(5):
  num.append(int(input()))
print('Printing values from the list in reverse order:')
for x in num[-1::-1]:
  print(x)

0
1
3
2
3
Printing values from the list in reverse order:
3
2
3
1
0

Task 4

In [ ]:
given = [1, 2, 3, 4, 5, 6, 7]
result = []

for i in given:
  i = i**2
  result.append(i)
print(result)

[1, 4, 9, 16, 25, 36, 49]

Task 5

In [ ]:
given = ["hey", "there", "", "what's", "", "up", "", "?"]
modified = []
print('Original List:', given)
for i in given:
  if i != '':
    modified.append(i)
print('Modified List:', modified)

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

Task 6

In [ ]:
string = input()
string = string.split(',')
num = []

for i in string:
  num.append(int(i))
max = num[0]

for i in range(len(num)):
  if max < num[i]:
    max = num[i]
    index = i

print('My list:', num)
print(f'Largest number in the list is {max} which was found at index {index}.')

7,13,2,10,6,-11,0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

Task 7

In [ ]:
List_one = [1, 4, 7, 5]
List_two = [6, 1, 3, 9]
print(List_one[:len(List_one)-1] + List_two)

[1, 4, 7, 6, 1, 3, 9]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

Task 8

In [ ]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
l = list_one + list_two
third = []
for i in l:
  if i % 2 == 0:
    third.append(i)
print(third)

[2, 4, 6, 8, 10, 12, -14, -16]

Task 9

In [ ]:
string = input()
ch = ''
li = []
mli = []
for i in string:
  if i != ' ':
    ch += i
  else:
    li.append(int(ch))
    ch = ''
li.append(int(ch))
print('Original list:', li)

for x in li:
  if x % 2 != 0:
    mli.append(x)
print('Modified list:', mli)

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

Task 10

In [2]:
string = input()
li = string.split(', ')
print(li)
lis = []
for i in li:
  if i not in lis:
    lis.append(i)
print(lis)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
['0', '0', '1', '2', '3', '4', '4', '5', '6', '6', '6', '7', '8', '9', '4', '4']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

Task 11

In [5]:
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6, 9, 8, 7]
flag = False
for i in List_one:
  if i in List_two:
    flag = True
print(flag)

True

Task 16