<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/All%20conceptual%20notes%20(Basic%20%2B%20OOP)/006_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List is a built-in data structure in Python, it is mutable, and list items are indexed.

# One basic concept:
a = 'a\nb'
print(a)
print('------------------------------------------------')
b = 'b\nc'
st1 = a + b
print(st1)
print('------------------------------------------------')
st2 = (a + b)
print(st2)
print('------------------------------------------------')
st3 = a, b
print(st3)
li = [a, b]
print(li)
print('------------------------------------------------')
for i in li:
  print(i)
print('#################################################')


# More examples:
List_Example = ['abc', 123, 12.3, True, False, [123, 1]]
print(List_Example)
print(len(List_Example))
print(type(List_Example)) #From Python's perspective, lists are defined as objects with the data type 'list'. Data type of a list = list.

'''
There are four collection data types in the Python programming language:

List is a collection which is mutable.
Tuple is a collection which is immutable.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
'''
print()
# See more list methods from here: https://www.w3schools.com/python/python_lists_methods.asp

a
b
------------------------------------------------
a
bb
c
------------------------------------------------
a
bb
c
------------------------------------------------
('a\nb', 'b\nc')
['a\nb', 'b\nc']
------------------------------------------------
a
b
b
c
#################################################
['abc', 123, 12.3, True, False, [123, 1]]
6
<class 'list'>

In [ ]:
List_Constructor = list(('abc', 123, 12.3, True, False)) # turning a tuple into a list using list constructor
str_to_list = list('abc') # turning a string into a list using list constructor
print(List_Constructor)
print(str_to_list)
print('------------------------------------------------')
list_to_str = str(List_Constructor) # turning a list into a string using str constructor
print(list_to_str)
print(type(list_to_str))
print('------------------------------------------------')
OneItem = ['One itemed list.',]; print(OneItem)

['abc', 123, 12.3, True, False]
['a', 'b', 'c']
------------------------------------------------
['abc', 123, 12.3, True, False]
<class 'str'>
------------------------------------------------
['One itemed list.']

In [ ]:
# Accessing List items
List_Example = ['abc', 123, 12.3, True, False, 123]
print(List_Example[1], List_Example[2], List_Example[-2]) # List items are indexed.
print(List_Example[0:3], List_Example[-1:-4:-1]) # Specified range of indexes.
OneItem = ['One itemed list.']; print(OneItem[-1])
if "apple" in List_Example:
  print("Yes, 'apple' is in the fruits list")

123 12.3 False
['abc', 123, 12.3] [123, False, True]
One itemed list.

In [ ]:
# Changing/replacing List item values

List_Example = ['abc', 123, 12.3, True, False, 123, '6', '7', 9]
List_Example[1] = 'akn'
List_Example[2] = 1, 'tuple'
List_Example[3:4] = 'e3w', ['new', 'list']
List_Example[5:7] = True, 'Madness'
print(List_Example)

['abc', 'akn', (1, 'tuple'), 'e3w', ['new', 'list'], True, 'Madness', '6', '7', 9]

In [ ]:
new = []
new[3:6] = 'Ha'
# new[0:3] = 123 # 'TypeError: can only assign an iterable'
new[7:150] = 'TypeError'
new[88:150] = 1, 2
new[90:150] = [3, 4, 5]
new[93:150] = (6, 7)
new[95:150] = {8: 'Hi', 9: "Only keys will be taken"}

# new[len(new)] =10; new[164] = 11 # IndexError: list assignment index out of range.
new[len(new):len(new)+1] = 10, # A fun way to append.

print(new)
print(len(new))
print(new[95:150])

['H', 'a', 'T', 'y', 'p', 'e', 'E', 'r', 'r', 'o', 'r', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
21
[]

In [ ]:
# Adding items
List_Example = ['abc', 123, 12.3, True, False, 123]
List_Example.insert(2, 'G') # Item in index 2 will move to right and 'G' will be in index 2.
List_Example.append([1, 2])
List_Example.extend((4, 3)) # This appends the items from (iterable objects only)
print(List_Example)

['abc', 123, 'G', 12.3, True, False, 123, [1, 2], 4, 3]

In [ ]:
# A simple concept:
x = y = False
y = True
print(x) # bool works like immutable objects like tuples

x = y = [1, 2, 3]
y.append(1)
print(x) # x will change

In [ ]:
# Removing items
List_Example = ['abc', 123, 12.3, True, False, 123, '22']
List_Example.remove(123)
removed_val1 = List_Example.pop(2) # Removes specific index value. pop() method also returns values.
removed_val2 = List_Example.pop() # Removes last item
del List_Example[0] # This also removes specified indexes

print(List_Example)
print(removed_val1, removed_val2)

del List_Example[:] # This will make the list empty
print(List_Example)
# del List_Example # This will delete the list completely

List_Example = [1, 2, 3]
del List_Example[0:2]
print(List_Example)

List_Example.clear() # This also empties the list.
print(List_Example)

[12.3, False, 123]
True 22
[]
[3]
[]

In [ ]:
# To remove items while iterating, you shouldn't use the list directly to loop.
li = [123, 123, 123]
print(len(li[:]))

for i in li[:]: # li[:] / li.copy() / list(li) / reversed(li) / range(len(li)) --> all these ways work for not iterating over the main list.
  li.remove(123)
print(li)

# li[:] / li.copy() / list(li) creates a shallow copy of the list.
# reversed(li) goes right to left. Thus, it works.
# range(len(li)); once a range is set, it is set permanently. If used in this case, range will be set to 3. So, it iterated 3 times over.
# But if you used pop method using range:
'''
li = [123, 123, 123]
for i in range(len(li)):
  li.pop(i)  # you must know what the mistake is here. IndexError: pop index out of range
print(li)
'''
print()
# Every time you remove an item, the next item's index becomes the previous index, and it goes on.

3
[]

In [ ]:
li = [123, 123, 123]
while True:
  li.remove(123)
  if 123 not in li:
    break
print(li)

[]

In [ ]:
li = [123, 123, 123]
i = 0
while i < len(li):
  li.remove(123)
print(li)

[]

In [ ]:
# Looping through lists
List_Example = ['abc', 123, 12.3, True, False, 123]
for x in List_Example:
  print(x, end = '. ')
for f in range(0, len(List_Example), 2):
  print(List_Example[f], end = '. ')
l = 0
while l<len(List_Example):
  print(List_Example[l], end = '. ')
  l += 1

abc. 123. 12.3. True. False. 123. abc. 12.3. False. abc. 123. 12.3. True. False. 123.

In [ ]:
# Now explaining List comprehension:
print('List comprehension examples:')

List_Example = ['abc', 123, 12.3, True, False, 123]

# 1st example:
[print(x, end = ' ') for x in List_Example]; print() # This will iterate and print.
print('------------------------------------------------')
# 2nd example of the same thing. But this will iterate differently.
x = [x for x in List_Example]
print(x) # This basically shows the list normally.
print('------------------------------------------------')
print(x == List_Example)

List comprehension examples:
abc 123 12.3 True False 123
------------------------------------------------
['abc', 123, 12.3, True, False, 123]
------------------------------------------------
True

In [ ]:
# List comprehension with range():
[print(y*y, end = ' ') for y in range(1,11)]
print()

# You can also do this:
y = range(1,11)
t = [v*v for v in y]
print(t) # But remember that printing like this will give a list.

rr = [x for x in range(10) if x<5] # Using if.
print(rr)

1 4 9 16 25 36 49 64 81 100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 2, 3, 4]

In [ ]:
# Now, let's see more uses of if here:
'''
List_Example = ['abc', 123, 12.3, True, False, 123]
v = [x for x in List_Example if 'a' in x]
print(v)
This won't work because List_Example has non-iterable data types in it.
To make it work, we need a list with iterable data types.
'''

value = ['b', 'abc', '54rh', 'kakaTrue', (12,)]
v = [x for x in value if 'a' in x]
print(v)

c = [x for x in value if x != "b"] # This means only show the values except b.
print(c)

s = [y if y != "b" else "ball" for y in value] # This will replace b with ball.
print(s)

u = ['Hi' for x in value] # You can choose to print anything.
print(u)

o = [x.upper() for x in value[:len(value)-1]] # All outcome will be in uppercase.
print(o)

['abc', 'kakaTrue']
['abc', '54rh', 'kakaTrue', (12,)]
['ball', 'abc', '54rh', 'kakaTrue', (12,)]
['Hi', 'Hi', 'Hi', 'Hi', 'Hi']
['B', 'ABC', '54RH', 'KAKATRUE']

In [ ]:
# Now we will see sorting lists:
print('Sorting list examples:')

abc = ['b', 'd', 'cat', 'abc']
abc.sort() # This will sort alphabetically.
print(abc)
print(abc.sort()) # returns None to the .sort() method.

a12 = [2, 13, 212, 1, 0, 0.9, -21]
a12.sort() # Numerical sorting.
print(a12)
print('------------------------------------------------')

# Now if you want them reversed:
abc.sort(reverse= True); a12.sort(reverse= True)
print(abc); print(a12)
print('------------------------------------------------')

# Now if you simply want to reverse the order (without sorting it and reversing it after sorting):
abc.reverse(); print(abc)
a12.reverse(); print(a12)
print(a12.reverse())
print('------------------------------------------------')

# Capital letters sort before smaller letters.
ab = ['B', 'a', 'C', 'b']; ab.sort(); print(ab)

# To avoid this and sort alphabetically and have capital and small letters at the same time:
ab.sort(key= str.lower) # You can also customize your own function by using the keyword argument key = function.
print(ab)

Sorting list examples:
['abc', 'b', 'cat', 'd']
None
[-21, 0, 0.9, 1, 2, 13, 212]
------------------------------------------------
['d', 'cat', 'b', 'abc']
[212, 13, 2, 1, 0.9, 0, -21]
------------------------------------------------
['abc', 'b', 'cat', 'd']
[-21, 0, 0.9, 1, 2, 13, 212]
None
------------------------------------------------
['B', 'C', 'a', 'b']
['a', 'B', 'b', 'C']

In [ ]:
# Sorting (using key) and working with a function
def exm(n): # Here exm(n) is a function.
  return n*n
print(exm(10))

a12 = [2, 13, 212, 1, 0, 0.9, -21]
# Now using a different type of function with key argument:
def ex(x):
  return abs(x - 10) # Here abs = absolute. This means absolute value. e.g. abs(-50)= 50.

a12.sort(key= ex) # ex function will be used to sort here. The numbers closest to 10 will appear first and so on.
print(a12) # Remember you aren't subtracting here.

100
[13, 2, 1, 0.9, 0, -21, 212]

In [ ]:
# Now we will see Copying lists:
print('Copying lists examples:')

copy1 = abc.copy(); print(copy1) # This is one way of copying. Another is:

copy2 = list(abc); print(copy2) # There are other ways too.

Copying lists examples:
['abc', 'b', 'cat', 'd']
['abc', 'b', 'cat', 'd']

In [ ]:
# Now we will see joining lists:

joined = copy1 + a12
print(joined)

copy1 += a12
print(copy1)

# Another way of joining:
for x in a12:
  ab.append(x)
print(ab)

# One more way of joining:
abc.extend(a12)
print(abc)

['abc', 'b', 'cat', 'd', 13, 2, 1, 0.9, 0, -21, 212]
['abc', 'b', 'cat', 'd', 13, 2, 1, 0.9, 0, -21, 212]
['a', 'B', 'b', 'C', 13, 2, 1, 0.9, 0, -21, 212]
['abc', 'b', 'cat', 'd', 13, 2, 1, 0.9, 0, -21, 212]