<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/All%20conceptual%20notes%20(Basic%20%2B%20OOP)/007_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuple is a built-in data structure in Python. But it's unchangeable/ immutable.

t1 = (1, 'ba', True, False, 'ba'); print(len(t1))

t2= (1,); print(type(t2)) # Tuple with one item only.

t3 = tuple([2, ]); print(t3) # Tuple construction.

5
<class 'tuple'>
(2,)

In [ ]:
#Accessing tuples:
t1 = (1, 'ba', True, False, 'ba')
t2= (1,)
print(t1[-1:-3:-1])
print('-----------------------------------------------------')

nested = ((1, 2), [1, 3], 2.09)
print(nested[1][1])
nested[1].append(4) # nested[1] is a list. You can't do the same with nested[0] or nested.
print(nested)

('ba', False)
-----------------------------------------------------
3
((1, 2), [1, 3, 4], 2.09)

In [ ]:
#Checking if an item exists:
t1 = (1, 'ba', True, False, 'ba')
t2= (1,)
if 2 in t1:
    print('Yes, it exists.')
else:
    print("No, doesn't exist.")

No, doesn't exist.

In [ ]:
#For changing, adding, and removing items in a tuple, you have to convert it to a list:
t1 = (1, 'ba', True, False, 'ba')
t2= (1,)
l1 = list(t1)
l1[:3] = 'Now,', 'changed', 'tuple:'
print(tuple(l1))
print('-----------------------------------------------------')

l2 = list(t2)
l2.insert(1, 'Added item')
t2 = tuple(l2)
print(t2)
print('-----------------------------------------------------')

l3 = list(t1)
l3.pop(2)
print('Removed one item:', tuple(l3))
print('-----------------------------------------------------')

#deleting a tuple
'''
del t3
print(t3) #If you do this, it'll show an error, and unlike lists, you can't use del to remove specific items.
'''

#Adding tuple to a tuple:
t2= (1,)
t3 = tuple([2, ])
t3 += t2 ; print(t3)

('Now,', 'changed', 'tuple:', False, 'ba')
-----------------------------------------------------
(1, 'Added item')
-----------------------------------------------------
Removed one item: (1, 'ba', False, 'ba')
-----------------------------------------------------
(2, 1)

In [ ]:
#Unpacking strings/tuples/lists/sets/dictionaries all work the same way:

u1 = ('abc', 'bcd', 'cba')
(a1, b1, c1) = u1
''' If you didn't want u1 to exist, you could also write: (a1, b1, c1) = ('abc', 'bcd', 'cba')
    we are allowed to extract the values back into variables. This is called "unpacking"      '''
print(a1, b1, c1)
print('-----------------------------------------------------')


''' If the number of variables is less than the number of values,
    you can add an * to the variable name and the values will be assigned to the variable as a list: '''

u2 = ('ab', 'bc', 'ca', 'xy', 'yz')
(a2, b2, *c2) = u2
print(a2, b2); print(c2)
print('-----------------------------------------------------')


'''If the asterisk is added to another variable name instead of the last,
   Python will assign values to the variable until the number of values left matches the number of variables left.'''
(a3, *b3, c3) = u2
print(a3, b3, c3)
print('-----------------------------------------------------')


nested = ((1, 2), [1, 3, 4], 2.09)
*a4, b4 = nested
print(a4, b4)  # Output a4 = [(1, 2), [1, 3, 4]], b4 = 2.09
print('-----------------------------------------------------')

#*a4 = nested # error
#print(a4) won't work. Cz you need atleast one more unpacking variable such as b4.


a5, *b5 = nested
print(a5, b5)
print('-----------------------------------------------------')

*a6, a7 = nested[2:] # remember when using *, make sure the target is iterable
print(a6, a7)
#Otherwise this happens:
#naga = [1, 2, 3]
#*a8, a9 = naga[1] #TypeError: cannot unpack non-iterable int object
print('-----------------------------------------------------')

naga = [1, "2", 3]
*a8, a9 = naga[1]
print(a8, a9)
print('-----------------------------------------------------')

set1 = {1, 2}
*a10, a11 = set1
print(a10, a11)
print('-----------------------------------------------------')

dic1 = {1: 'a', 2: 'b'}
*a12, a13 = dic1 #only the keys
print(a12, a13)

abc bcd cba
-----------------------------------------------------
ab bc
['ca', 'xy', 'yz']
-----------------------------------------------------
ab ['bc', 'ca', 'xy'] yz
-----------------------------------------------------
[(1, 2), [1, 3, 4]] 2.09
-----------------------------------------------------
(1, 2) [[1, 3, 4], 2.09]
-----------------------------------------------------
[] 2.09
-----------------------------------------------------
[] 2
-----------------------------------------------------
[1] 2
-----------------------------------------------------
[1] 2

In [ ]:
#Loop Tuples:
t1 = (1, 'ba', True, False, 'ba')
t2= (1,)
for x in t1:
    print(x, end = ' ')
print('  ##  ')


for i in range(1, len(t1), 2):
    print(t1[i], end = ' ')
print('  ##  ')


j = 0
while j < len(t1):
    print(t1[j], end = ' ')
    j += 1
print('  ##  ')

nested = ((1, 2), [1, 3, 4], 2.09)
for z in nested[:2]:
    x, *y = z
    print(x, y, end = ' ')
print('  ##  ')

1 ba True False ba   ##
ba False   ##
1 ba True False ba   ##
1 [2] 1 [3, 4]   ##

In [ ]:
#Join Tuples:
t1 = (1, 'ba', True, False, 'ba')
t2= (1,)
t1 += t2
print(t1)
print('-----------------------------------------------------')

#Multiplying Tuples:
m1 = t1* 2
print(m1)
print('-----------------------------------------------------')

print("Counting 'ba' in t1:", t1.count('ba'))
print("The first occurrence of 'ba' in t1 is index no.:", t1.index('ba'), '\n')
print('I am done with tuples.')

(1, 'ba', True, False, 'ba', 1)
-----------------------------------------------------
(1, 'ba', True, False, 'ba', 1, 1, 'ba', True, False, 'ba', 1)
-----------------------------------------------------
Counting 'ba' in t1: 2
The first occurrence of 'ba' in t1 is index no.: 1

I am done with tuples.