<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/All%20conceptual%20notes%20(Basic%20%2B%20OOP)/2_Data_types_%26_etc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Check this page: https://www.w3schools.com/python/python_operators.asp

Variable naming conventions

* **Can have letters (A-Z and a-z), digits(0-9), and underscores (_)**

* Should maintain snake_casing. That means each word should be separated by underscores(_)

* **Cannot begin with digits**

* Cannot have whitespace and special signs (e.g.: +, -, !, @, $, #, %.)

* **Are case sensitive meaning ABC, Abc, abc are three different variables.**

* Have to be meaningful with the data stored in it

* Cannot be too lengthy and too general, need to have a balance

* Should not be written with single alphabets. Minimum length should be 3.

* **Cannot be a reserved keyword for Python. There are a total of 35 keywords. (For example: True, del, def, for, if, is, in etc.)**

In [ ]:
x = None; print(type(x))

<class 'NoneType'>

Data types\
--> Category of the data\
--> 5 groups of main data types\
--> Various other types of data available in python

In [ ]:
# 1. Numeric type: int & float
print(20, 20.56)

# 2. Boolean type (bool): True = 1, False = 0
print(25 >= 26, end = ' '); print((6 == 6*2//2 - 2**(2-1)) and True or False)

# 3. Sequence type: str, list, tuple
print('Good' + ' or', 'bad', ['IDK'], ('but', 'my', 'life\'s chill!'))

# 4. Mapping Type: Will be discussed later

# 5. NoneType(None):
print(None, end = ' '); x = None; print(f'--> Nothingness is something. Therefore, {x} exists.')

20 20.56
False False
Good or bad ['IDK'] ('but', 'my', "life's chill!")
None --> Nothingness is something. Therefore, None exists.

Type Conversion:

In [ ]:
# 1. Implicit Type Conversion:
x = y = 1; print(x + y)

# 2. Explicit Type Conversion:
x = float(x); y = str(y); print(x, y, sep = '')
print(complex(x))

s = '5.8'
# print(int(s)) # ValueError: invalid literal for int() with base 10: '5.8'
print(float(s))

tup = (1, 2)
print(str(tup), '-->', str(tup)[1:-1])

lis = [("1", 2), 'str']
print(str(lis)[1:-1])

2
1.01
(1+0j)
5.8
(1, 2) --> 1, 2
('1', 2), 'str'

Input Taking:

In [ ]:
l, t= input("Enter 1st number: "), input("Enter 2nd number: ")
print("The numbers you gave are strings:", l+ ', ' +t)
print("The sum of your given numbers is:", int(l)+int(t))
another_way = float(input('Enter a number: '))
print("Your number:", another_way)

Enter 1st number: 123
Enter 2nd number: 234
The numbers you gave are strings: 123, 234
The sum of your given numbers is: 357
Enter a number: 21
Your number: 21.0

Random number:

In [ ]:
import random
print(random.randrange(995,999))

997

# Basic operations

i. Unary operations: +(plus),   -(minus),   ~(invert)[a bitwise inverse defined as -(x+1)]

In [ ]:
var = -10; print(+var, end = ' '); print(-var, end = ' '); print(~var)

-10 10 9

ii. Binary operation: Arithmetic operation: \(+, -, \*, /, //, %, \**)

In [ ]:
print(5 + -3)

In [ ]:
# Negative modulo:
'''
Rule number 1:
If divisor is -, output is also -.
If divisor is +, output is also +.
'''

'''
When both sides are negative:
Example: -5 % -4
Think of it like 5%4 = 1. Output = -1.

For -3 % -4
Do the same: 3%4 = 3. Output = -3.
Always follow rule number 1.
'''
print(-5 % -4)
print(-3 % -4)

'''
When only one side is negative, find the closest divisible number.
But remember:
If the dividend is negative, go to the negative side of the number line to find the divisible number.
If the divident is positive, go to the positive side of the number line to find the divisible number.

Then the distance between the divisible number and the dividend is the answer. Distance is always +.
But don't forget to follow rule number 1.
'''
print(5 % -1)
print(5 % -4)
print(-5 % 4)
print(5 % -2)

'''
And it works like:
-8%4 = 0 and 8%-4 = 0. Because 8 is divisible by 4.
Basic Rule:
-5%4 = (-2*4 + 3) % 4 = 3  => This means: -8%4 + 3%4 = 3.
5%-4 = (2*4 - 3) % -4 = -3
'''
print()

-1
-3
0
-3
3
-1

In [ ]:
k= 2E10 # Here E or e is used to indicate power of 10. This makes the number float.
print(type(k))
o= 2J # Here J or j is used to indicate complex or imaginary number.
print(type(o))
print(pow(o,2), k*5) # Here pow() = 'To the power of any number'.
# Another way of using power is:
print(2J**2)
print(f'{123:e}') # e format specifier. Shows mantissa and an exponent. Similar to ENG option in scientific calcs.
                                        # Here, mantissa = 1.230000, exponent = +02 (which means ^2)
                                        # It basically formats the number in scientific notation
print(f'{1234567.89765:10.4f}')
print('{:f}'.format(1234567.89765)) # This doesn't work properly sometimes.

print(round(1234567.89765, 3))
print("%.3f" % 1234567.89765)

<class 'float'>
<class 'complex'>
(-4+0j) 100000000000.0
(-4+0j)
1.230000e+02
1234567.8976
1234567.897650
1234567.898
1234567.898

iii. Assignment operator: # (=, +=, -=, *=, /=, %=, **=, //=)

In [3]:
var = -10; var -= 10; print(var)
print(int(11.99), 11.99//1, type(11.99//1))

-20
11 11.0 <class 'float'>

iv. Logical operator (and, or, not):

In [ ]:
print(not(6>5 and True) or True)

True

v. Comparison or Relational operator (==, !=, >, <, >=, <=):

In [ ]:
print(6 >= 5)

True

vi. Membership operator (in, not in):

In [ ]:
print('c' in 'Cat', '\n')

False

vii. Identity operators (is, is not):

In [ ]:
var = -20; print(var is -20, '\n') # returns False because var is not the same object as -20, even if they have the same content

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-12-a9b1196bedf5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  var = -20; print(var is -20, '\n') # returns False because var is not the same object as -20, even if they have the same content

vii. Bitwise operators: [Examples: & (Bitwise and), |(Bitwise or) etc.]

In [ ]:
# Bitwise AND (&)
# Example: 5 & 3
# 5 in binary is 101
# 3 in binary is 011
# Performing bitwise AND:
# 1 & 0 = 0
# 0 & 1 = 0
# 1 & 1 = 1
# Result in binary: 001
# Result in decimal: 1

print(5 & 3)  # Output: 1


# Bitwise OR (|)
# Example: 5 | 3
# 5 in binary is 101
# 3 in binary is 011
# Performing bitwise OR:
# 1 | 0 = 1
# 0 | 1 = 1
# 1 | 1 = 1
# Result in binary: 111
# Result in decimal: 7

print(5 | 3)  # Output: 7


# Bitwise XOR (^)
# Example: 5 ^ 3
# 5 in binary is 101
# 3 in binary is 011
# Performing bitwise XOR:
# 1 ^ 0 = 1
# 0 ^ 1 = 1
# 1 ^ 1 = 0
# Result in binary: 110
# Result in decimal: 6

print(5 ^ 3)  # Output: 6


# Bitwise NOT (~)
# Example: ~5
# 5 in binary is 101
# Performing bitwise NOT:
# ~(101) = -(101 + 1) = -(110) = -6

print(~5)  # Output: -6


# Bitwise left shift (<<)
# Example: 5 << 2
# 5 in binary is 101
# Left shift by 2 means moving the bits to the left 2 positions and adding 0s to the right.
# 101 << 2 = 10100
# Result in decimal: 20

print(5 << 2)  # Output: 20


# Bitwise right shift (>>)
# Example: 5 >> 2
# 5 in binary is 101
# Right shift by 2 means moving the bits to the right 2 positions.
# 101 >> 2 = 1
# Result in decimal: 1

print(5 >> 2)  # Output: 1

# Boolean
Check this link: https://www.w3schools.com/python/python_booleans.asp

The bool() function allows you to evaluate any value, and give you True or False in return:
Almost any value is evaluated to True if it has some sort of content. Any string is True, except empty strings.
Any number is True, except 0. Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
print(bool(1))
print(bool("Hello!"))
print(bool(["apple", 66, "banana"]))

'''The following will return false:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})
'''
print()

True
True
True

If you have an object that is made from a class with a \_\_len\_\_ function that returns 0 or False:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

You can create functions that returns a Boolean Value:

In [ ]:
def m() :
  return 9==9
print(m())

True

You can execute code based on the Boolean answer of a function. Print "YES!" if the function returns True, otherwise print "NO!":

In [ ]:
def j():
    b=input("Enter any value: ") #Remember: the entered value is a str.
    return b
if j():
    print("YES!")
else:
    print("NO!")

Enter any value: 1
YES!

Check if an object is of a certain data type:

In [ ]:
x= 21
print(isinstance(x, float))

False