<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/All%20conceptual%20notes%20(Basic%20%2B%20OOP)/8_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


A set is a collection which is mutable, unordered, unchangeable*, and unindexed.
Set items are unchangeable, but you can remove items and add new items.
Sets are unordered, so you cannot be sure in which order the items will appear.

Remember one thing: in sets and dictionaries, 0 = False and 1 = True

In [3]:
s = {'abc', -2, True, False}; print(s, type(s), len(s))

s1 = set((1,)); print(s1)

# Duplicates not allowed: Sets cannot have two items with the same value.
d = {'a', 'a'}; print(d)

# The values True and 1 are considered the same value in sets, and are treated as duplicates:
d1 = {True, 1}; print(d1)

#Checking Set items:
print('Checking if 1 exists in d1:', 1 in d1)

{False, True, 'abc', -2} <class 'set'> 4
{1}
{'a'}
{True}
Checking if 1 exists in d1: True

In [5]:
#Looping sets:
s = {'abc', -2, True, False}
for x in s:
    print(x, end = ' ')
print()

False True abc -2

In [28]:
#Adding items:
s1 = set((1,))
s1.add('True'); print(s1)



#Removing items:
'''
To remove an item in a set, use the remove(), or the discard() method.
If the item to remove does not exist, remove() will and discard() will NOT raise an error.
'''

s1.remove('True'); print(s1)
s1.discard('False'); print(s1) # It won't show any error.

# Use pop method if you want to remove a random item.
r = {1, 2, 3, 4}
r.pop(); print(r)

print('-----------------------------------------------------------------')
# clear() method empties the set.
r.clear(); print(r)

# if we keep the set blank from the start and then use .clear() and print():
r_empty = set(); print(r == r_empty)

r_empty.clear(); print(r_empty, end = ' '); print(r == r_empty)
print('-----------------------------------------------------------------')

r_em = {}; r_em.clear(); print(r_em, end = ' '); print(r == r_em)
print('-----------------------------------------------------------------')

r1 = {1}; r1.clear(); print(r1, end = ' '); print(r == r1)
print('-----------------------------------------------------------------')

# del r will completely delete the set, and if printed, it'll show an error.

{1, 'True'}
{1}
{1}
{2, 3, 4}
-----------------------------------------------------------------
set()
True
set() True
-----------------------------------------------------------------
{} False
-----------------------------------------------------------------
set() True
-----------------------------------------------------------------

In [30]:
#Joining sets:
r = {1, 2, 3, 4}
r1 = ['a', 'b']
r2 = {5, 6, 'a'}

r.update(r1); print(r) # update() method can be used for any iterable object.

r3 = r.union(r2); print(r3) # union() is used for returning a new set. Here it's r3.

# Both union() and update() will exclude any duplicate items.

{'a', 1, 2, 3, 4, 'b'}
{'a', 1, 2, 3, 4, 5, 6, 'b'}

In [36]:
# To get the duplicate items:
r = {1, 2, 3, 5}
r3 = {5, 6, 'a'}
r.intersection_update(r3); print(r)

r = {1, 2, 3, 5}
r3 = {5, 6, 'a'}
r4 = r.intersection(r3); print(r4) # intersection() is for a new set.

# To exclude duplicates:
r.symmetric_difference_update(r3); print(r)

r = {1, 2, 3, 5}
r3 = {5, 6, 'a'}
r5 = r.symmetric_difference(r3); print(r5) # This is for a new set.

# To learn more about set methods, see this: https://www.w3schools.com/python/python_sets_methods.asp

{5}
{5}
{1, 2, 3, 'a', 6}
{'a', 2, 1, 3, 6}