<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/Basic%20Python%20(Practice%20Problems%20%26%20Solutions)/6_2_Dictionary_%26_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

Task 2

In [ ]:
given = (10, 20, 24, 25, 26, 35, 70)
print(given[2:len(given)-2])

(24, 25, 26)

Task 3

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(len(book_info))
for i in book_info:
  print(i)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task 4

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  x, y, z = i
  print(f"{y} won the '{x}' category with {z} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

Task 5

In [ ]:
given = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user = int(input())
num = 0
for i in given:
  if i == user:
    num += 1
print(f'{user} appears {num} times in the tuple')

8
8 appears 4 times in the tuple

Task 6

In [ ]:
given = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
li = list(given)
tup = []
for i in range(-1, -len(li)-1, -1):
  tup.append(li[i])
print(tuple(tup))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

Task 7

In [ ]:
dic1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dic2 = {'Ginie':18, 'Luna': 14}
marks = {}
for i, j in dic1.items():
  marks[i] = j
for x, y in dic2.items():
  marks[x]= y
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

Task 8

In [ ]:
user = input().split(', ')  # Input: Jon:100, Dan:200, Rob:30 ; user= ['Jon:100', 'Dan:200', 'Rob:300']
li = []
dic = {}
sum = 0
count = 0
for i in user:
  li.append(i.split(':'))   # i.split = ['Jon', '100']

for x, y in li:             #li = [['Jon', '100'], ['Dan', '200'], ['Rob', 300']]
  dic[x] = int(y)           #dic= {'Jon': 100, 'Dan', 200, 'Rob', 300}
  sum += int(y)
  count += 1
print(sum//count)

Jon:100, Dan:200, Rob:30, Ned:110
110
{'Jon': 100, 'Dan': 200, 'Rob': 30, 'Ned': 110}

In [ ]:
# Doing the same task in one loop using list unpacking:
user = input().split(', ')  # Input: Jon:100, Dan:200, Rob:30 ; user= ['Jon:100', 'Dan:200', 'Rob:300']
dic = {}
sum = 0
count = 0
for i in user:
  x, y = i.split(':')       # x= 'Jon', y= '100'
  dic[x] = int(y)
  sum += int(y)
  count += 1
print(sum //count)

Jon:100, Dan:200, Rob:30, Ned:110
110

In [ ]:
# Using Method/Hint- 2 from the question:
dic = {}
sum = 0
count = 0
for i in range(int(input('Amount of items: '))):
  key = input()
  value = int(input())
  dic[key] = value
  sum += value
  count += 1
print(sum//count)

Amount of items: 3
Jon
100
Dan
200
Rob
30
110

Task 9

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
user = int(input())
new = exam_marks.copy()
for i in exam_marks.keys():
  if exam_marks[i] < user:
    del new[i]
print(new)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
user = int(input())
new = {}
for i, j in exam_marks.items():
  if j >= user:
    new[i] = j
print(new)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

Task 10

In [ ]:
given = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

for i, j in given.items():
  key = i
  max = j
  break

for x, y in given.items():
  if max < y:
    max = y
    key = x

print(f"The highest selling book genre is '{key}' and the number of books sold are {max}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

Task 11

In [ ]:
in1 = (input().lower()).strip('"')
dic = {}
for i in in1:
  if i != ' ':
    if i in dic.keys():
      dic[i] = dic[i] + 1
    else:
      dic[i] = 1
print(dic)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

Task 12

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
total = 0
for i in dict_1.values():
  for j in i:
    total += 1
print(total)

9

Task 13

In [ ]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dic = {}
key = []
val = []
for i, j in list_1:
  if i not in key:
    key.append(i)

for z in key:
  for x, y in list_1:
    if x == z:
      val.append(y)
      dic[x] = val
  val = []
print(dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
x = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
mydict={}
for i, j in x:
  if i not in mydict.keys():
    mydict[i]=[j]
  else:
    mydict[i].append(j)   # mydict[i] = [1, 3, 2]
print(mydict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

Task 15

In [ ]:
given = [(2, 3), (4, 5), (6, 7), (2, 8)]
new = []
for i,j in given:
    new.append(i*j)
print(new)

[6, 20, 42, 16]

Task 16

In [ ]:
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
j = input()
for i in a_tuple:
    i[2] = j
print(a_tuple)

1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

Task 17

In [ ]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
dic = {}
for i, j in my_dictionary.items():
  if j != None:
    dic[i] = j
print(dic)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
'''li = [1,2, 3]
for i in li:
  li.append(1)
print(li)'''
# Learning experience: if you loop in a list, inside loop you shouldn't edit the list you are looping.

c = 55
def f(a, b, c):
  return c*5
f(1, 2, c = 4)  # In this case, c = 4. It'll ignore the c = 55.

20

Task 18

In [ ]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
dic = {}
for i in range(int(input()), int(input())):
  for x, y in dict_1.items():
    if i == y:
      dic[x] = y
print(dic)

9
12
{'c': 9, 'e': 11}

Task 19

In [ ]:
given = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
dic = {}
for i, j in given:
  if j in dic:
    dic[j] += [(i, j)]
  else:
    dic[j] = [(i, j)]
print(dic)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

Task 20

In [ ]:
input1 = input().split(' ')
for stop in range(len(input1)):
  input1[stop] = input1[stop].strip('.')
in1 = []
for duplicate in input1:
  if duplicate not in in1:
    in1.append(duplicate)
input2 = []
for i in range(int(input('Number of special characters: '))):
  input2.append(input())

dic = {}
sum = 0
for x in in1:
  for y in x:
    sum += ord(y)
    calc_index = sum % len(input2)
  sum = 0
  for z in range(len(input2)):
    if z == calc_index:
      if input2[z] not in dic.keys():
        dic[input2[z]] = [x]
      else:
        dic[input2[z]].append(x)

print('Words in the given String:', input1)
print(dic)

The secret of getting ahead is getting started.
Number of special characters: 5
-
=
+
*
%
Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
{'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}