<a href="https://colab.research.google.com/github/ApurbaKumarNath/today-i-learned/blob/main/Basic%20Python%2BOOP%20(Notes%20and%20University%20Assignments)/Basic%20Python%20(Practice%20Problems%20%26%20Solutions)/7_2_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
def even_checker(num):
  if num % 2 == 0:
    print('even!!')
  else:
    print('odd!!')
even_checker(21)

odd!!

Task 2

In [ ]:
def fibonacci(num):
  fst = 0
  snd = 1
  trd = fst + snd
  print(fst, snd, trd, end = ' ')

  for i in range(num):
      fst = snd
      snd = trd
      trd = fst + snd
      if trd <= num:
        print(trd, end = ' ')
fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
def fibonacci(num):
  n1 = 0
  n2 = 1
  while n1 <= num:
    print(n1, end = ' ')
    nth = n1 + n2
    n1 = n2
    n2 = nth
fibonacci(10)

0 1 1 2 3 5 8

Task 3

In [ ]:
def foo_moo(num):
  if num % 2 == 0 and num % 3 == 0:
    return 'FooMoo'
  elif num % 2 == 0:
    return 'Foo'
  elif num % 3 == 0:
    return 'Moo'
  else:
    return 'Boo'
print(foo_moo(6))

FooMoo

Task 4

In [ ]:
def f(letter):
  upper = 0
  lower = 0
  for i in letter:
    if 64 < ord(i) < 91:
      upper += 1
    elif 96 < ord(i) < 123:
      lower += 1
  print('No. of Uppercase characters :', upper)
  print('No. of Lowercase Characters:', lower)
f('HaRRy PotteR')

No. of Uppercase characters : 5
No. of Lowercase Characters: 6

Task 5

In [ ]:
age = int(input())
salary = int(input())
job = input().lower()
def calculate_tax(age, salary, job):
  if age < 18 or job == 'president' or salary < 10000:
    return 0
  elif 10000 <= salary <= 20000:
    return (5/100)*salary
  else:
    return salary / 10
print(calculate_tax(age, salary, job))

21
1233000
assi mamage

123300.0

Task 6

In [ ]:
num = int(input())
def day(num):
  a = num//365
  b = num % 365
  c = b // 30
  d = b % 30

  print(f'{a} years, {c} months and {d} days')
day(num)

31
0 years, 1 months and 1 days

In [ ]:
a = (4330//365)
b = 4330 % 365
c = b // 30
d = b % 30
print(a, c, d)

11 10 15

Task 7

In [ ]:
def show_palindrome(n):
  s = ''
  for i in range(1, n+1):
    s += str(i)
  for x in range(n-1, 0, -1):
    s += str(x)
  return s
print(show_palindrome(3))

12321

Task 8

In [ ]:
def show_palindromic_triangle(n):
  s = ''
  for i in range(1, n+1):
    s = ' '*(n-i) + show_palindrome(i)
    # for x in range(1, i+1):
    #   s += str(x)
    # for y in range(i-1,0,-1):
    #   s += str(y)

    print(s)

show_palindromic_triangle(4)

   1
  121
 12321
1234321

In [ ]:
def show_palindromic_triangle(n):
  for i in range(1, n+1):
    print(' '*(n-i), end = '')
    for x in range(1, i+1):
      print(x, end = '')
    for y in range(i-1,0,-1):
      print(y, end = '')
    print()

show_palindromic_triangle(5)

    1
   121
  12321
 1234321
123454321

Task 9

In [ ]:
import math
def area_circumference_generator(r):
  area = math.pi*r**2
  circumference = 2 * math.pi*r
  return (area, circumference)
result = area_circumference_generator(1)
area, cir = result
print(result)
print(f'Area of the circle is {area} and circumference is {cir}')

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
import math
def area_circumference_generator(radius):
  global area
  area = math.pi*radius**2
  global cir
  cir = 2*math.pi*radius
  return (area, cir)

print(area_circumference_generator(1))
print(f'Area of the circle is {area} and circumference is {cir}')

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

Task 10

In [ ]:
def make_square(tup):
  dic = {}
  for i in range(tup[0], tup[1]+1):
    dic[i] = i**2
  return dic
print(make_square((1, 3)))

{1: 1, 2: 4, 3: 9}

Task 11

In [ ]:
def rem_duplicate(t):
  tup = []
  for i in t:
    if i not in tup:
      tup.append(i)
  tup = tuple(tup)
  return(tup)
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

(1, 2, 3, 4, 5, 6, 0)

Task 12

In [ ]:
def f(li):
  new = []
  rem = 0
  for i in li:
    if i not in new:
      new.append(i)
    else:
      if new.count(i)< 2:
        new.append(i)
      else:
        rem = rem + 1
  print('Removed:', rem)
  return new
print(f([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
# I did it this way. We're not allowed to use remove()
def f(li):
  rem = 0
  for i in li:
    if li.count(i)>2:
      li.remove(i)
      rem += 1
  print('Removed', rem)
  return li
print(f([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed 2
[1, 2, 3, 3, 4, 5, 8, 8]

Task 13

In [ ]:
def basic_calc(operator, first, second):
    if(operator == "+"):
        return first + second

    elif(operator == "-"):
        return first - second

    elif(operator == "/"):
        return first / second

    elif(operator == "*"):
        return first * second

operator = input()
first = float(input())
second = float(input())

print(basic_calc(operator, first, second))

*
2
3
6.0

Task 14

In [ ]:
def char_remover(sentence, position):
    new = sentence[0]
    rem = ""

    for index in range(1, len(sentence)):
        if index % position != 0:
            new += sentence[index]
        else:
            rem += sentence[index]

    return new + rem

sentence = input()
position = int(input())

print(char_remover(sentence, position))

I love programming
3
I lveprgrmmngo oai

Task 15

In [ ]:
li = []
for i in range(0, int(input('Number of items in list: '))):
  li.append(input())

def f(order_items, location = 'Dhanmondi'):
  total = 0
  dic = {'rice': 105, 'potato': 20, 'chicken':250, 'beef':510, 'oil': 85}

  for i in order_items:
    total += dic[i]
  if location == 'Dhanmondi':
    total += 30
  else:
    total += 70
  return total

f(li, 'Mohakhali')

Number of items in list: 2
rice
chicken

425

In [ ]:
'''def f(x = 2, y):
  return x*y
print(f(1, 8))'''

'def f(x = 2, y):\n  return x*y\nprint(f(1, 8))'

Task 16

In [ ]:
def splitting_money(amount):
  li = [500, 100, 50, 20, 10, 5, 2, 1]
  s = ''
  for i in li:
    if amount >= i:
      s += f'{i} Taka: {amount // i} note(s)\n'
      amount = amount % i

  return s
print(splitting_money(int(input())))

1234
500 Taka: 2 note(s)
100 Taka: 2 note(s)
20 Taka: 1 note(s)
10 Taka: 1 note(s)
2 Taka: 2 note(s)

Task 17

In [ ]:
def remove_odd(li):
  lis = []
  for i in li:
    if i % 2 == 0:
      lis.append(i)
  return lis
print(remove_odd ([11,2,3,4,5,2,0,5,3]))

[2, 4, 2, 0]

Task 18

In [ ]:
def divisible(starting, ending, divisor1, divisor2):
  sum = 0
  for i in range(starting, ending):
    if i % divisor1 == 0 and i % divisor2 == 0:
      pass
    elif i % divisor1 == 0:
      sum += i
    elif i % divisor2 == 0:
      sum += i
  return sum
print(divisible(int(input()), int(input()), int(input()), int(input())))

5
100
3
4
2012

Task 19

In [ ]:
def str_checker(s):
  result = 5
  for i in range(97, 107):
    if chr(i) not in s:
      result = 6
      break
  return result
mul = str_checker(input().lower())

print('PSG will win the Champions League this season\n' * mul)

A black jackal is hunting a full grown deer
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

Task 20

In [ ]:
def individul_bonus_calculation(name, earning, score, percent):
  extra = 0
  if score > 30: extra = 10000
  elif 20 <= score <= 30: extra = 5000
  bonus = score * (percent / 100 * earning) + extra
  print(f'{name} earned a bonus of {int(bonus)} Taka for {score} goals.')
individul_bonus_calculation('Luis', 80000, 25, 10)

Luis earned a bonus of 205000 Taka for 25 goals.

Task 21

In [ ]:
def cal_bonus(*args):
  i = 0
  while i < len(args):
    a = args[i]
    b = args[i+1]
    c = args[i+2]
    d = args[i+3]
    individul_bonus_calculation(a, b, c, d)
    i += 4
cal_bonus("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)

Neymar earned a bonus of 3605000 Taka for 30 goals.
Jamal earned a bonus of 665000 Taka for 19 goals.