<a href="https://colab.research.google.com/github/ApurbaKumarNath/today-i-learned/blob/main/Basic%20Python%2BOOP%20(Notes%20and%20University%20Assignments)/Basic%20Python%20(Practice%20Problems%20%26%20Solutions)/5_2_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
sum = []
for i in range(5):
  sum.append(int(input()))
  print(f'"Numbers in the list: {sum}"')

69696969696969
"Numbers in the list: [69696969696969]"
Fucking bitches
69696969
"Numbers in the list: [69696969696969, 69696969]"
Fucking bitches
696969
"Numbers in the list: [69696969696969, 69696969, 696969]"
Fucking bitches
696969
"Numbers in the list: [69696969696969, 69696969, 696969, 696969]"
Fucking bitches
69696969
"Numbers in the list: [69696969696969, 69696969, 696969, 696969, 69696969]"
Fucking bitches

Task 2

In [ ]:
string = input()
sum = []
string = string.split(', ')

if len(string) < 4:
  print('Not possible')

else:
  string = string[2 : len(string)-2]

  for i in string:
    i = int(i)
    sum.append(i)

  print(sum)

11, 12, 13
Not possible

Task 3

In [ ]:
num = []
for i in range(5):
  num.append(int(input()))
print('Printing values from the list in reverse order:')
for x in num[-1::-1]:
  print(x)

0
1
3
2
3
Printing values from the list in reverse order:
3
2
3
1
0

Task 4

In [ ]:
given = [1, 2, 3, 4, 5, 6, 7]
result = []

for i in given:
  i = i**2
  result.append(i)
print(result)

[1, 4, 9, 16, 25, 36, 49]

Task 5

In [ ]:
given = ["hey", "there", "", "what's", "", "up", "", "?"]
modified = []
print('Original List:', given)
for i in given:
  if i != '':
    modified.append(i)
print('Modified List:', modified)

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

Task 6

In [ ]:
string = input()
string = string.split(',')
num = []

for i in string:
  num.append(int(i))
max = num[0]
index = 0

for i in range(len(num)):
  if max < num[i]:
    max = num[i]
    index = i

print('My list:', num)
print(f'Largest number in the list is {max} which was found at index {index}.')

13, 7, 8, 12
My list: [13, 7, 8, 12]
Largest number in the list is 13 which was found at index 0.

Task 7

In [ ]:
List_one = [1, 4, 7, 5]
List_two = [6, 1, 3, 9]
print(List_one[:len(List_one)-1] + List_two)

[1, 4, 7, 6, 1, 3, 9]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

Task 8

In [ ]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
l = list_one + list_two
third = []
for i in l:
  if i % 2 == 0:
    third.append(i)
print(third)

[2, 4, 6, 8, 10, 12, -14, -16]

Task 9

In [ ]:
string = input()
ch = ''
li = []
mli = []
for i in string:
  if i != ' ':
    ch += i
  else:
    li.append(int(ch))
    ch = ''
li.append(int(ch))
print('Original list:', li)

for x in li:
  if x % 2 != 0:
    mli.append(x)
print('Modified list:', mli)

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

Task 10

In [ ]:
string = input()
li = string.split(', ')
num = []
for i in li:
  num.append(int(i))
print(num)

lis = []
for x in num:
  if x not in lis:
    lis.append(x)
print(lis)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 11

In [ ]:
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6, 9, 8, 7]
flag = False
for i in List_one:
  if i in List_two:
    flag = True
print(flag)

True

Task 16

In [ ]:
# My 1st method: get the max value and compare the difference between that with other values to get second max.
string = input().split(', ')
li = []
for i in string:
  li.append(int(i))
print('My list:', li)

max = li[0]
for i in range(len(li)):
  if max < li[i]:
    max = li[i]

for x in range(len(li)):
  if max > li[x]:
    diff = max - li[x]
    break

for y in range(len(li)):
  if max > li[y]:
    if diff >= max - li[y]:
      diff = max - li[y]
      sec = li[y]
      index = y

print(f'Second largest number in the list is {sec} which was found at index {index}.')

7, 7, 6, 5
My list: [7, 7, 6, 5]
Second largest number in the list is 7 which was found at index 1.

In [ ]:
# 2nd method: get the max and make 2nd list excluding the max value. Then, get the max for 2nd list. That is 2nd max for the 1st list.
string = input().split(', ')
li = []
for i in string:
  li.append(int(i))
print('My list:', li)

max = li[0]
for j in range(len(li)):
  if max < li[j]:
    max = li[j]

li2 = li.copy()
for x in li:
  if x == max:
    li2.remove(x)

max2 = li2[0]
for y in range(len(li2)):
  if max2 < li2[y]:
    max2 = li2[y]

for z in range(len(li)):
  if max2 == li[z]:
    index = z
print(f'Second largest number in the list is {max2} which was found at index {index}.')

7, 7, 6, 5
My list: [7, 7, 6, 5]
[6, 5]
Second largest number in the list is 6 which was found at index 2.

In [ ]:
# Friend's given way:
user=input("Input: ").split(",")
li=[]
for i in user:
    li.append(int(i))
largest=float('-inf')
for i in li:
    if i>largest:
        second_largest=largest
        largest=i
    elif second_largest<i:
        second_largest=i
print(f"My list: {li}")
print(f"Second largest number in the list is {second_largest} which was found at index {li.index(second_largest)}.")

Input: 7, 7, 6, 5
My list: [7, 7, 6, 5]
Second largest number in the list is 7 which was found at index 0.

Task 17

In [ ]:
string = input().split(', ')
li = []
for i in string:
  li.append(int(i))
print('My list:', li)

for x in range(5):
  if x == 0:
    max = li[x]
    min = li[x]
    maxindex = x
    minindex = x
  elif max < li[x]:
    max = li[x]
    maxindex = x
  elif min > li[x]:
    min = li[x]
    minindex = x
print(f'Smallest number in the list is {min} which was found at index {minindex}')
print(f'Largest number in the list is {max} which was found at index {maxindex}')

7, 13, -5, 10, 6
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

Task 18

In [ ]:
li1 = input().split(', ')
li2 = input().split(', ')
li = []
for i in li1:
  if i in li2:
    li.append(i)
print(li)

1, 3, A, H, P
A, G, 1, P, O
['1', 'A', 'P']

Task 19

In [ ]:
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
li3 = list_one + list_two
li = []
for i in li3:
  if i not in li:
    li.append(i)
print(li)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

Task 20

In [ ]:
string = (input().strip('"')).strip("'")
print('Original data:', string)

string = ((string.strip()).strip('[')).strip(']')
print('After removing square brackets:', string)

li = string.split(', ')
print('Numbers in string format with extra white spaces:', li)

li2 = []
for i in li:
  li2.append(int(i))
print('Final data (numbers in list format):', li2)

"      [1,   2   ,         3,   50,   4]         '
Original data:       [1,   2   ,         3,   50,   4]
After removing square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '  2   ', '        3', '  50', '  4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

Task 21

In [ ]:
string = input().split(', ')
li = []
for i in string:
  li.append(int(i))
print('Given numbers in list:', li)
d = []
for x in li:
  if x not in d:
    d.append(x)
print('List without any dupliacte values:', d)

7, 7, 7, 1,           0, 3, 3,   55, 9
Given numbers in list: [7, 7, 7, 1, 0, 3, 3, 55, 9]
List without any dupliacte values: [7, 1, 0, 3, 55, 9]

In [ ]:
# Writing just some basic things. No need to see this.
user = input().split(', ') # Inputs should be numbers only.
# Now if you want only this user list to have the numbers in int, do this:
for i in range(len(user)):
  user[i] = [int(user[i])] # Let's suppose you want every int in separate lists.
print(user)

# Now if you want to append in those separate lists, do this:
for j in user:
  j.append(int(input()))
print(user)

for x, y in user:
  print(x + y)

1, 2, 3
[[1], [2], [3]]
4
5
6
[[1, 4], [2, 5], [3, 6]]
5
7
9