<a href="https://colab.research.google.com/github/ApurbaKumarNath/python-oop/blob/main/Python%2BOOP%20(Notes%20and%20University%20Assignments)/Object%20Oriented%20Programming%20(OOP%20practice%20problems%20%26%20solutions)/1_2_Advanced_problems_before_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

1

In [ ]:
# Way number 1
given = input()
upper_count = 0
lower_count = 0
out = ''
for character in given:
  if 64 < ord(character) < 91:
    upper_count += 1
  elif 96 < ord(character) < 123:
    lower_count += 1

# Counting is done. Now, making upper or lower without using .upper() or .lower():
if upper_count > lower_count:
  for ch in given:
    if 64 < ord(ch) < 91:
      out += ch
    else:
      out += chr(ord(ch) - 32)

else:
  for ch in given:
    if 96 < ord(ch) < 123:
      out += ch
    else:
      out += chr(ord(ch) + 32)
print(out)

ApplE
apple

In [ ]:
# Way number 2. I made a custom function here for upper and lower.
def make_up_low(string, upper = False, lower = False):
  if upper == True:
    out = ''
    for ch in string:
      if 96 < ord(ch) < 123:
        out += chr(ord(ch) - 32)
      else:
        out += ch
    return out

  elif lower == True:
    out = ''
    for ch in string:
      if 64 < ord(ch) < 91:
        out += chr(ord(ch) + 32)
      else:
        out += ch
    return out


given = input()
upper_count = 0
lower_count = 0
for character in given:
  if 64 < ord(character) < 91:
    upper_count += 1
  elif 96 < ord(character) < 123:
    lower_count += 1

if upper_count > lower_count:
  print(make_up_low(given, upper = True))

else:
  print(make_up_low(given, lower = True))

BaNaNa
banana

2

In [ ]:
nums = '0123456789'
num_checker = str_checker = False
given = input()

for ch in given:
  if ch in nums:
    num_checker = True
  elif 64 < ord(ch) < 91 or 96 < ord(ch) < 123:
    str_checker = True

if num_checker == True and str_checker == True:
  print('MIXED')
elif num_checker == True:
  print('NUMBER')
else:
  print('WORD')

11
NUMBER

3

In [ ]:
s = '' # s = sum of the characters needed
given = input()
flag = False

for c in given: # c is for every character,
  if flag == True:
    if 64 < ord(c) < 91: # for checking the last uppercase letter
      break
    else:
      s += c
  elif 64 < ord(c) < 91: # for checking the first uppercase letter
    flag = True

if s == '': # s = '' if --> consequent uppercase letters
  print('BLANK')
else:
  print(s)

baNgladEsh
glad

In [ ]:
# Another way:
given = input()

for c in range(len(given)):
  if 64 < ord(given[c]) < 91:
    start = c + 1
    break

for c in range(start, len(given)):
  if 64 < ord(given[c]) < 91:
    end = c
    break

if given[start:end] == '':
  print('BLANK')
else:
  print(given[start:end])

baNgladEsh
glad

4

In [ ]:
given = input() # user input
word1 = ''
word2 = ''
out = ''
findComma = False
for ch in given: # to separate words
  if ch != ',':
    if findComma == False: #Before finding ',' ***findComma == False is important. Cz after finding ',', next ch are not commas.
      word1 += ch # word1 = letters before ','                # So, if it's not used, letters after ',' will be added in word1.***
  else:
    findComma = True # Found ','
  if findComma == True:
    if ch != ' ': # After finding ',', it skips ' '
      word2 += ch

for c in word1: # character from 1st string
  if c in word2: # finding common in 2nd string
    out += c
for ch in word2:
  if ch in word1: # again common from 2nd in 1st str
    out += ch
if out == '':
  out = 'Nothing in common.'
print(out)

harry, hermione
hrrhr

In [ ]:
# Cannot use list to solve string problems. So, I was not allowed to do this way.
given1, given2 = input().split(', ') # list unpacking
out = ''
for c in given1: # character from 1st string
  if c in given2: # finding common in 2nd string
    out += c
for ch in given2:
  if ch in given1: # again common from 2nd in 1st str
    out += ch
if out == '':
  out = 'Nothing in common.'
print(out)

dean, tom
Nothing in common.

5

In [ ]:
given = input()
nums = '0123456789'
special = '_$#@'
l_check = u_check = n_check = s_check = False

for c in given:
  if 64 < ord(c) < 91:
    u_check = True
  elif 96 < ord(c) < 123:
    l_check = True
  elif c in nums:
    n_check = True
  elif c in special:
    s_check = True

out = ''
if l_check == u_check == n_check == s_check == True:
  out = 'OK'
if l_check == False:
  out += 'Lowercase Missing'
if u_check == False:
  if out == '':
    out += 'Uppercase Missing'
  else:
    out += ', Uppercase Missing'
if n_check == False:
  if out == '':
    out += 'Digit Missing'
  else:
    out += ', Digit Missing'
if s_check == False:
  if out == '':
    out += 'Special Missing'
  else:
    out += ', Special Missing'

print(out)

OhMyBR@CU20
OK

In [ ]:
# Trying in a different way
given = input()
nums = '0123456789'
special = '_$#@'
l_check = u_check = n_check = s_check = False

for c in given:
  if 64 < ord(c) < 91:
    u_check = True
  elif 96 < ord(c) < 123:
    l_check = True
  elif c in nums:
    n_check = True
  elif c in special:
    s_check = True

dic = {l_check:'Lowercase Missing', u_check: 'Uppercase Missing', n_check: 'Digit Missing', s_check: 'Special Missing'}
li2 = ['Uppercase Missing', ]
out = ''

OhMyBR@CU20
OK

# List

1

In [ ]:
li = []
while True:
  i = input()
  if i == 'STOP':
    break
  else:
    li.append(int(i))

alreadyChecked = [] # For storing values that are already printed
for num in li:
  if num in alreadyChecked:
    continue   # So, it skips the value that is already checked
  alreadyChecked.append(num)
  specific = num
  count = 0 # Resetting count for every num
  for checking in li:
    if checking == specific:
      count += 1
  print(f'{specific} - {count} times')

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
# Another way: taking an unique list
li = []
while True:
  i = input()
  if i == 'STOP':
    break
  else:
    li.append(int(i))

unique = []
for j in li:
  if j not in unique:
    unique.append(j)

count = 0
for k in unique:
  for specific in li:
    if specific == k:
      count += 1
  print(f'{k} - {count} times')
  count = 0

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

2

In [ ]:
#custom split function: can return in ints or floats if wanted.
def custom_split(inp, by = ' ', ints = False, floats = False):
  word = ''
  li = []

  def f():
    if ints == False and floats == False:
      li.append(word)
    elif ints == True:
      li.append(int(word))
    elif floats == True:
      li.append(float(word))

  for ch in inp:
    if ch in by:
      if word == '':
        continue
      f()
      word = ''
    else:
      word += ch

  f()
  return li

In [ ]:
nested = []
for i in range(int(input('Number of lists: '))):
  inp = custom_split(input(), ints = True)
  nested.append(inp)

def list_sum(oneList): # Returns the sum of the values of inner lists
  sum = 0
  for number in oneList:
    sum += number
  return sum

max_list = nested[0]
max = list_sum(nested[0])

for lis in nested: # lis = inner list in nested
  if list_sum(lis) > max:
    max = list_sum(lis)
    max_list = lis

print(max)
print(max_list)

Number of lists: 2
5
1 1 1
5
[5]

3

In [ ]:
outer = custom_split(input(), ints = True) # Multiplier
inner = custom_split(input(), ints = True) # Will be multiplied
mul = [] # Holds all multiplied values

for j in outer:
  for k in inner:
    mul.append(j * k)

print(mul)

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

4

In [ ]:
nested = []
while True:
  i = input()
  if i == 'STOP':
    break
  else:
    innerList = custom_split(i, ints = True)
    nested.append(innerList)

def differ(li): # returns a list with difference values, e.g [2, 1, 4, 6, 10] = [1, 3, 2, 4]
  diff = []
  for i in range(len(li) - 1):
    d = li[i] - li[i + 1]
    if d >= 0:
      diff.append(d)
    else:
      diff.append(-d)
  return diff

for lis in nested:
  flag = True
  for n in range(1, len(lis) - 1): # 1 to N - 1
    if n not in differ(lis):
      flag = False
      print('Not UB Jumper')
      break
  if flag == True:
    print('UB Jumper')

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
UB Jumper
UB Jumper
Not UB Jumper

5

In [ ]:
n, k = custom_split(input(), ints = True)   # n = number of people, k = numbers of times must participate
person = custom_split(input(), ints = True)  # person = the times per person has already participated

formable = []
for ap in person: # ap = times already participated before
  if ap + k < 6: # max participation must be <= 5
    formable.append(ap + k) # forming list with eligible participants

print(len(formable)//3)  # Amount of groups possible

6 5
0 0 0 0 0
1

# Dictionary & Tuple

1

In [ ]:
def dict_creator(inp, ints = False):
  li = custom_split(inp, by = ':, ')
  dic = {}
  for idx in range(0, len(li) - 1, 2):
    if ints == False:
      dic[li[idx]] = li[idx + 1]
    elif ints == True:
      dic[li[idx]] = int(li[idx + 1])
  return dic

In [ ]:
dict1 = dict_creator(input(), ints = True)
dict2 = dict_creator(input(), ints = True)

d = {}
for key in dict1:
  d[key] = dict1[key]
  for k in dict2:
    if key == k:
      d[key] += dict2[k]

for key in dict2:
  if key not in dict1.keys():
    d[key] = dict2[key]

print(d)

li = []
for item in d.values():
  if item not in li:
    li.append(item)

for times in range(len(li)):
  for idx in range(0, len(li) - times - 1):
    if li[idx] > li[idx + 1]:
      li[idx], li[idx+1] = li[idx+1], li[idx]
print('Values:', tuple(li))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
Values: (200, 300, 400, 700)

In [ ]:
# Another way: .get()
dict1 = dict_creator(input(), ints = True)
dict2 = dict_creator(input(), ints = True)

d = {}
tempLis = [] # unique list with the keys

for key in dict1:
  tempLis.append(key)
for key in dict2:
  if key not in dict1:
    tempLis.append(key)

for key in tempLis:
  d[key] = dict1.get(key, 0) + dict2.get(key, 0)
print(d)

li = [] # unique list with values
for item in d.values():
  if item not in li:
    li.append(item)

for i in range(len(li)):
  for j in range(0, len(li) - i - 1):
    if li[j] > li[j + 1]:
      li[j], li[j+1] = li[j+1], li[j]
print('Values:', tuple(li))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
Values: (200, 300, 400, 700)

2

In [ ]:
dic = {}
while True:
  key = input()
  if key == 'STOP':
    break
  else:
    if key in dic:
     dic[key] += 1
    else:
     dic[key] = 1

for key, val in dic.items():
  print(f'{key} - {val} times')

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

3

In [ ]:
d1 = dict_creator(input())
d = {}

for key, val in d1.items():
  if val in d:
    d[val] += [key]
  else:
    d[val] = [key]
print(d)

key1 : value1, key2 : value2, key3 : value1
{'value1': ['key1', 'key3'], 'value2': ['key2']}

4

In [ ]:
d = {'1': '.,?!:', '2': 'ABC', '3': 'DEF', '4': 'GHI', '5': 'JKL',
     '6': 'MNO', '7': 'PQRS', '8': 'TUV', '9': 'WXYZ', '0': ' '}

inp = input()
upp_inp = '' # For making the input uppercase
for ch in inp:
  if 96 < ord(ch) < 123:
    upp_inp += chr(ord(ch) - 32)
  else:
    upp_inp += ch

def mul(value, letter): # Gets how many times the key should be multiplied
  count = 0
  for ch in value:
    if ch == letter:
      count += 1
      break
    else:
      count += 1
  return count

for letter in upp_inp:
  for key, val in d.items():
    if letter in val:
      print(key*mul(val, letter), end = '')

Hello, World!
4433555555666110966677755531111